#cms-tbl-dropdownmenu {
	position: fixed;
	width: 180px;
	border: 1px solid #ccc;
	padding: 1px 2px;
	font-family: "Segoe UI",Tahoma,Verdana,sans-serif;
	font-size: 8pt;		
	background-color: #fff;
	z-index: 9999;
}

.cms-tbl-menusection-items table {
	font-size: 1px;
	margin: 2px 0px 2px 0px;
}

ul.cms-tbl-menusection-items {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

li.cms-tbl-menusection-items {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.cms-tbl-menusection-items td {
	margin: 0px;
	padding: 0px;
	border: 1px solid transparent;	
}

.cms-tbl-select-cell {
	width: 14px;
	height: 14px;
	border: 1px solid #111;
}

.cms-tbl-menusection-items td.cms-tbl-active {
	margin: 0px;
	padding: 0px;
	border: 1px solid #FF9900;	
}

.cms-tbl-menusection-items td.cms-tbl-active .cms-tbl-select-cell {
	margin: 0px;
	padding: 0px;
	border: 1px solid #FFE8C6;	
}
